name: Build and Push Custom Mastodon

on:
  push:
    branches:
      - 'custom-ui-fix'
  workflow_dispatch:

jobs:
  web:
    uses: ./.github/workflows/build-container-image.yml
    with:
      file_to_build: Dockerfile
      push_to_images: |
        bailongctui/mastodon
      flavor: |
        latest=${{ startsWith(github.ref, 'refs/tags/v4.5.') }}
      tags: |
        type=pep440,pattern={{raw}}
        type=pep440,pattern=v{{major}}.{{minor}}

  streaming:
    uses: ./.github/workflows/build-container-image.yml
    with:
      file_to_build: streaming/Dockerfile
      push_to_images: |
        bailongctui/mastodon-streaming
      flavor: |
        latest=${{ startsWith(github.ref, 'refs/tags/v4.5.') }}
      tags: |
        type=pep440,pattern={{raw}}
        type=pep440,pattern=v{{major}}.{{minor}}